﻿{extend name="Base:common" /}{block name="css"}
<link href="__STATIC__/css/bootstrap-datetimepicker.min.css" rel="stylesheet" /> {/block}{block name="body"}
<div class="header">
	<h1 class="page-header">
		教材管理
    		<small>视频管理</small>
	</h1>
	<ol class="breadcrumb">
		<li>
			<a href="{:url('index/index')}">首页</a>
		</li>
		<li>
			<a href="{:url('course/index')}">教材管理</a>
		</li>
		<li>
			<a href="{:url('/admin/course/period/id/'.$course_id)}">课时管理</a>
		</li>
		<li>
			<a href="{:url('/admin/video', '', false)}?period={$period_id}&course={$course_id}">视频</a>
		</li>
		<li class="active">字幕</li>
	</ol>
</div>
<div id="page-inner">
	<div class="row">
		<div class="col-md-12">
			<!-- Advanced Tables -->
			<div class="panel panel-default">
				<div class="panel-heading">
					<div class="row">
						<div class="col-lg-12">
						</div>
					</div>
					<!-- /input-group -->
				</div>
				<div class="panel-body">
					<div class="table-responsive">
					</div>
					<div class="row">
						<div class="col-lg-12">
							<div class="panel panel-default">
								<div class="panel-heading">
								</div>
								<div class="panel-body">
									<div class="form-horizontal">
										<div class="form-group">
											<label class="col-sm-2 control-label">序号</label>
											<div class="col-sm-2">
												<input type="text" name="begin" class="form-control">
											</div>
										</div>
										<div class="form-group">
											<label class="col-sm-2 control-label">开始</label>
											<div class="col-sm-5">
												<input type="text" name="begin" class="form-control">
											</div>
										</div>
										<div class="form-group">
											<label class="col-sm-2 control-label">结束</label>
											<div class="col-sm-5">
												<input type="text" name="begin" class="form-control">
											</div>
										</div>
										<div class="form-group">
											<label class="col-sm-2 control-label">中文</label>
											<div class="col-sm-9">
												<input type="text" name="begin" class="form-control">
											</div>
										</div>
										<div class="form-group">
											<label class="col-sm-2 control-label">拼音</label>
											<div class="col-sm-9">
												<input type="text" name="begin" class="form-control">
											</div>
										</div>
										<div class="form-group">
											<label class="col-sm-2 control-label">韩文</label>
											<div class="col-sm-9">
												<input type="text" name="begin" class="form-control">
											</div>
										</div>
										<div class="form-group">
											<label class="col-sm-2 control-label">英文</label>
											<div class="col-sm-9">
												<input type="text" name="begin" class="form-control">
											</div>
										</div>
										<div class="form-group">
											<label class="col-sm-2 control-label"></label>
											<div class="col-sm-9">
												<div class="form-check">
													<input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
													<label class="form-check-label" for="defaultCheck1">
                                                        选为语音识别题
													</label>
												</div>
												<div class="form-check">
													<input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
													<label class="form-check-label" for="defaultCheck1">
														选为填空题
													</label>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--End Advanced Tables -->
		</div>
	</div>
</div>

{/block} {block name="script"}
<script src="__STATIC__/js/bootstrap-datetimepicker.min.js"></script>
<script src="__STATIC__/js/bootstrap-datetimepicker.zh-CN.js"></script>
<script src="__STATIC__/Plupload/moxie.js"></script>
<script src="__STATIC__/Plupload/plupload.dev.js"></script>
<script src="__STATIC__/Plupload/i18n/zh_CN.js"></script>
<script src="__STATIC__/js/qiniu.min.js"></script>
<script>
</script>
{/block}