﻿{extend name="Base:common" /}{block name="css"}
<link href="__STATIC__/css/bootstrap-datetimepicker.min.css" rel="stylesheet" /> {/block}{block name="body"}
<div class="header">
	<h1 class="page-header">
		教材管理
    		<small>课时管理</small>
	</h1>
	<ol class="breadcrumb">
		<li>
			<a href="{:url('index/index')}">首页</a>
		</li>
		<li>
			<a href="{:url('course/index')}">教材管理</a>
		</li>
		<li class="active">课时管理</li>
	</ol>

</div>
<div id="page-inner">
	<div class="row">
		<div class="col-md-12">
			<!-- Advanced Tables -->
			<div class="panel panel-default">
				<div class="panel-heading">
					<div class="row">
						<div class="col-lg-12"> 
							{$course_name}
							<button type="button" class="btn btn-danger pull-right" data-toggle="modal" data-target="#addPeriod">新增课程</button>
							<button type="button" class="btn btn-danger pull-right" style="margin-right: 10px;" data-toggle="modal" data-target="#editImg2">电脑WEB图</button>
							<button type="button" class="btn btn-danger pull-right" style="margin-right: 10px;" data-toggle="modal" data-target="#editImg1">移动WEB图</button>
						</div>
					</div>
					<!-- /input-group -->
				</div>
				<div class="panel-body">
					<div class="table-responsive">
						<table class="table table-striped table-bordered table-hover">
							<thead>
								<tr>
									<th>课时</th>
									<th>中文名称</th>
									<th>英文名称</th>
									<th>韩文名称</th>
									<th>操作</th>
								</tr>
							</thead>
							<tbody>
								{volist name="list" id="vo"}
								<tr>
									<td>
										{$vo.number}
									</td>
									<td class="center">
										{$vo.name_cn}
									</td>
									<td class="center">
										{$vo.name_en}
									</td>
									<td class="center">
										{$vo.name_ko}
									</td>
									<td class="center">
										{if condition="($Think.session.course eq 1) OR ($Think.session.id eq 1)"}
										<div>
											{if condition="$vo.has_video === true"}
											<a href="{:url('/admin/video', '', false)}?period={$vo.id}&course={$vo.course_id}" type="button" class="btn btn-info">查看视频</a>
											{else /}
											<a href="{:url('/admin/video/create','', false)}?course={$vo.course_id}&period={$vo.id}" type="button" class="btn btn-success">添加视频</a>
											{/if}
											<button type="button" onclick="del({$vo.id})" class="btn btn-danger">删除课程</button>
										</div>
										{/if}
									</td>
								</tr>
								{/volist}
							</tbody>
						</table>
					</div>
					<div class="row">
						<div class="col-lg-12">
							<div class="box" id="box"></div>
						</div>
					</div>
				</div>
			</div>
			<!--End Advanced Tables -->
		</div>
	</div>
</div>
<div id="addPeriod" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		  <h5 class="modal-title">新增课程</h5>
      </div>
      <div class="modal-body">
      	<div class="form-group">
     	   <input type="text" class="form-control" id="addPeriodName_cn" placeholder="中文名称">
        </div>
      	<div class="form-group">
     	   <input type="text" class="form-control" id="addPeriodName_en" placeholder="英文名称">
        </div>
      	<div class="form-group">
     	   <input type="text" class="form-control" id="addPeriodName_ko" placeholder="韩文名称">
        </div>
        <div class="form-group">
     	   <input type="text" class="form-control" id="addPeriodNumber" placeholder="课时(只可填写正整数)">
        </div>
        <div class="form-group">
     	   <input type="text" class="form-control" id="addPeriodUrl" placeholder="url">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        <button type="button" class="btn btn-primary" onclick="addPeriod()">保存</button>
      </div>
    </div>
  </div>
</div>

<div id="editImg1" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h5 class="modal-title">手机WEB图</h4>
      </div>
      <div class="modal-body">
					<div class="form-group" style="margin-bottom: 300px;">
						<div class="col-sm-12">
							<div id="container">
								<a class="btn btn-default btn-lg " id="pickfiles" style="width: 100%;" href="#">
									<i class="glyphicon glyphicon-plus"></i>
									<span>选择图片(jpg格式)</span>
								</a>
							</div>
							<br />
							<div>
								<div class="col-sm-12">
									{if $course.img1 == null}
									<div id="img">
										<img class="img-responsive" src="__STATIC__/img/avatar.jpg " />
									</div>
									<input id="editImg-1" type="hidden" />
									{else /}
									<div id="img">
										<img class="img-responsive" src="{$course.img1}" />
									</div>
									<input id="editImg-1" type="hidden" value="{$course.img1}" />
									{/if}
									<div id="img-progress">
									</div>
								</div>
							</div>
						</div>
					</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        <button type="button" class="btn btn-primary" onclick="update1()">保存</button> 
      </div>
    </div>
  </div>
</div><div id="editImg2" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h5 class="modal-title">电脑WEB图</h4>
      </div>
      <div class="modal-body">
					<div class="form-group" style="margin-bottom: 300px;">
						<div class="col-sm-12">
							<div id="container2">
								<a class="btn btn-default btn-lg " id="pickfiles2" style="width: 100%;" href="#">
									<i class="glyphicon glyphicon-plus"></i>
									<span>选择图片(jpg格式)</span>
								</a>
							</div>
							<br />
							<div>
								<div class="col-sm-12">
									{if $course.img2 == null}
									<div id="img2">
										<img class="img-responsive" src="__STATIC__/img/avatar.jpg " />
									</div>
									<input id="editImg-2" type="hidden" />
									{else /}
									<div id="img2">
										<img class="img-responsive" src="{$course.img2}" />
									</div>
									<input id="editImg-2" type="hidden" value="{$course.img2}" />
									{/if}
									<div id="img-progress2">
									</div>
								</div>
							</div>
						</div>
					</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        <button type="button" class="btn btn-primary" onclick="update2()">保存</button> 
      </div>
    </div>
  </div>
</div>
{/block} {block name="script"}
<script src="__STATIC__/js/bootstrap-datetimepicker.min.js"></script>
<script src="__STATIC__/js/bootstrap-datetimepicker.zh-CN.js"></script>
<script src="__STATIC__/Plupload/moxie.js"></script>
<script src="__STATIC__/Plupload/plupload.dev.js"></script>
<script src="__STATIC__/Plupload/i18n/zh_CN.js"></script>
<script src="__STATIC__/js/qiniu.min.js"></script>
<script>
	var setTotalCount = {$total};
	var p = {$p};
	$('#box').paging({
		initPageNo: {$p}, // 初始页码
		totalPages: {$pageNum}, //总页数
		totalCount: '共' + setTotalCount + '条数据', // 条目总数
		slideSpeed: 300, // 缓动速度。单位毫秒
		jump: false, //是否支持跳转
		callback: function(page) { // 回调函数
			if(page != p) {
				window.location.replace("{:url('course/period')}" + '?p=' + page + '&id={$course_id}');
			}
		}
	})
</script>
<script>
	//新增课程
	function addPeriod() {
		var thename_cn = $('#addPeriodName_cn').val();
		var thename_en = $('#addPeriodName_en').val();
		var thename_ko = $('#addPeriodName_ko').val();
		var number = $('#addPeriodNumber').val();
		var theurl = $('#addPeriodUrl').val();
		var course_id = {$course_id};
		if(thename_cn.length < 1||thename_en.length < 1||thename_ko.length < 1){
			alert('请正确输入课程名');
			return false;
		}
		
		if(number.length < 1||isPositiveInteger(number) != true){
			alert('请正确输入课时');
			return false;
		}
		if(theurl.length < 1){
			alert('请正确输入url');
			return false;
		}
		info = '是否新增?';
		if(confirm(info)) {
			$.ajax({
				type: "POST",
				url: "{:url('course/add_period')}",
				data: {
					name_cn: thename_cn,
					name_en: thename_en,
					name_ko: thename_ko,
					number: number,
					url: theurl,
					course_id: course_id
				},
				success: function(result) {
					$('#addPeriod').modal('hide');
					if(result == 1) {
						location.reload();
					} else {
						alert('已有相同课时');
					}
				}
			});
		}
	}
	//删除课程
	function del(id) {
		info = '是否删除?';
		if(confirm(info)) {
			$.ajax({
				type: "POST",
				url: "{:url('course/del')}",
				data: {
					id: id
				},
				success: function(result) {
					if(result == 1) {
						location.reload();
					} else {
						alert('发生错误');
					}
				}
			});
		}
	}
	
	function isPositiveInteger(s){
  	  var re = /^[0-9]+$/;
  	  return re.test(s)
     }
	
	//确认更新图1
	function update1() {
		var course_id = {$course_id};
		var img = $('#editImg-1').val();
		info = '是否修改?';
		if(confirm(info)) {
			$.ajax({
				type: "POST",
				url: "{:url('course/editimg')}",
				data: {
					id: course_id,
					type: 1,
					img: img
				},
				success: function(result) {
					$('#editImg1').modal('hide');
					if(result == 1) {
						location.reload();
					} else {
						alert('发生错误');
					}
				}
			});
		}
	}
	//确认更新图1
	function update2() {
		var course_id = {$course_id};
		var img = $('#editImg-2').val();
		info = '是否修改?';
		if(confirm(info)) {
			$.ajax({
				type: "POST",
				url: "{:url('course/editimg')}",
				data: {
					id: course_id,
					type: 2,
					img: img
				},
				success: function(result) {
					$('#editImg2').modal('hide');
					if(result == 1) {
						location.reload();
					} else {
						alert('发生错误');
					}
				}
			});
		}
	}
	
	var domain = "http://img.panpanchinese.cn/";
	//引入Plupload 、qiniu.js后
	var uploader = Qiniu.uploader({
		runtimes: 'html5,flash,html4', //上传模式,依次退化
		browse_button: 'pickfiles', //上传选择的点选按钮，**必需**
		uptoken_url: "{:url('image/gettoken')}", //Ajax请求upToken的Url，**强烈建议设置**（服务端提供）
		// uptoken : '', //若未指定uptoken_url,则必须指定 uptoken ,uptoken由其他程序生成
		unique_names: true, // 默认 false，key为文件名。若开启该选项，SDK为自动生成上传成功后的key（文件名）。
		// save_key: true,   // 默认 false。若在服务端生成uptoken的上传策略中指定了 `sava_key`，则开启，SDK会忽略对key的处理
		domain: 'http://img.panpanchinese.cn/', //bucket 域名，下载资源时用到，**必需**
		get_new_uptoken: true, //设置上传文件的时候是否每次都重新获取新的token
		container: 'container', //上传区域DOM ID，默认是browser_button的父元素，
		max_file_size: '100mb', //最大文件体积限制
		multi_selection: false,
		mime_types: [{
			title: "Image files",
			extensions: "jpg"
		}],
		flash_swf_url: '__STATIC__/Plupload/Moxie.swf', //引入flash,相对路径
		max_retries: 3, //上传失败最大重试次数
		dragdrop: true, //开启可拖曳上传
		drop_element: 'container', //拖曳上传区域元素的ID，拖曳文件或文件夹后可触发上传
		chunk_size: '4mb', //分块上传时，每片的体积
		auto_start: true, //选择文件后自动上传，若关闭需要自己绑定事件触发上传
		init: {
			'FilesAdded': function(up, files) {
				plupload.each(files, function(file) {
					// 文件添加进队列后,处理相关的事情
				});
			},
			'BeforeUpload': function(up, file) {
				// 每个文件上传前,处理相关的事情
			},
			'UploadProgress': function(up, file) {
				var total = up.total;
				$('#img-progress').html('<div class="progress"><div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="' + total.percent + '" aria-valuemin="0" aria-valuemax="100" style="width: ' + total.percent + '%"></div></div>');
				// 每个文件上传时,处理相关的事情
			},
			'FileUploaded': function(up, file, info) {
				// 每个文件上传成功后,处理相关的事情
				// 其中 info.response 是文件上传成功后，服务端返回的json，形式如
				// {
				//    "hash": "Fh8xVqod2MQ1mocfI4S4KpRL6D98",
				//    "key": "gogopher.jpg"
				//  }
				// 参考http://developer.qiniu.com/docs/v6/api/overview/up/response/simple-response.html
				var domain = up.getOption('domain');
				var res = JSON.parse(info.response);
				document.getElementById("img").innerHTML =
					'<img class="img-responsive" src="' + domain + res.key + '?imageView2/1/interlace/1" />';
				$('#editImg-1').val(domain + res.key + '?imageView2/1/interlace/1');
				$('#img-progress').html('');
			},
			'Error': function(up, err, errTip) {
				//上传出错时,处理相关的事情
			},
			'UploadComplete': function() {
				//队列文件处理完毕后,处理相关的事情
			},
			'Key': function(up, file) {
				// 若想在前端对每个文件的key进行个性化处理，可以配置该函数
				// 该配置必须要在 unique_names: false , save_key: false 时才生效

				var key = "";
				// do something with key here
				return key
			}
		}
	});
	//引入Plupload 、qiniu.js后
	var uploader = Qiniu.uploader({
		runtimes: 'html5,flash,html4', //上传模式,依次退化
		browse_button: 'pickfiles2', //上传选择的点选按钮，**必需**
		uptoken_url: "{:url('image/gettoken')}", //Ajax请求upToken的Url，**强烈建议设置**（服务端提供）
		// uptoken : '', //若未指定uptoken_url,则必须指定 uptoken ,uptoken由其他程序生成
		unique_names: true, // 默认 false，key为文件名。若开启该选项，SDK为自动生成上传成功后的key（文件名）。
		// save_key: true,   // 默认 false。若在服务端生成uptoken的上传策略中指定了 `sava_key`，则开启，SDK会忽略对key的处理
		domain: 'http://img.panpanchinese.cn/', //bucket 域名，下载资源时用到，**必需**
		get_new_uptoken: true, //设置上传文件的时候是否每次都重新获取新的token
		container: 'container2', //上传区域DOM ID，默认是browser_button的父元素，
		max_file_size: '100mb', //最大文件体积限制
		multi_selection: false,
		mime_types: [{
			title: "Image files",
			extensions: "jpg"
		}],
		flash_swf_url: '__STATIC__/Plupload/Moxie.swf', //引入flash,相对路径
		max_retries: 3, //上传失败最大重试次数
		dragdrop: true, //开启可拖曳上传
		drop_element: 'container2', //拖曳上传区域元素的ID，拖曳文件或文件夹后可触发上传
		chunk_size: '4mb', //分块上传时，每片的体积
		auto_start: true, //选择文件后自动上传，若关闭需要自己绑定事件触发上传
		init: {
			'FilesAdded': function(up, files) {
				plupload.each(files, function(file) {
					// 文件添加进队列后,处理相关的事情
				});
			},
			'BeforeUpload': function(up, file) {
				// 每个文件上传前,处理相关的事情
			},
			'UploadProgress': function(up, file) {
				var total = up.total;
				$('#img-progress2').html('<div class="progress"><div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="' + total.percent + '" aria-valuemin="0" aria-valuemax="100" style="width: ' + total.percent + '%"></div></div>');
				// 每个文件上传时,处理相关的事情
			},
			'FileUploaded': function(up, file, info) {
				// 每个文件上传成功后,处理相关的事情
				// 其中 info.response 是文件上传成功后，服务端返回的json，形式如
				// {
				//    "hash": "Fh8xVqod2MQ1mocfI4S4KpRL6D98",
				//    "key": "gogopher.jpg"
				//  }
				// 参考http://developer.qiniu.com/docs/v6/api/overview/up/response/simple-response.html
				var domain = up.getOption('domain');
				var res = JSON.parse(info.response);
				document.getElementById("img2").innerHTML =
					'<img class="img-responsive" src="' + domain + res.key + '?imageView2/1/interlace/1" />';
				$('#editImg-2').val(domain + res.key + '?imageView2/1/interlace/1');
				$('#img-progress2').html('');
			},
			'Error': function(up, err, errTip) {
				//上传出错时,处理相关的事情
			},
			'UploadComplete': function() {
				//队列文件处理完毕后,处理相关的事情
			},
			'Key': function(up, file) {
				// 若想在前端对每个文件的key进行个性化处理，可以配置该函数
				// 该配置必须要在 unique_names: false , save_key: false 时才生效

				var key = "";
				// do something with key here
				return key
			}
		}
	});
</script>
{/block}