﻿{extend name="Base:common" /}{block name="css"}
<link href="__STATIC__/css/bootstrap-datetimepicker.min.css" rel="stylesheet" /> {/block}{block name="body"}
<div class="header">
	<h1 class="page-header">
		教材管理
    		<small>视频管理</small>
	</h1>
	<ol class="breadcrumb">
		<li>
			<a href="{:url('index/index')}">首页</a>
		</li>
		<li>
			<a href="{:url('course/index')}">教材管理</a>
		</li>
		<li>
			<a href="{:url('course/period',['id'=>$course_id])}">课时管理</a>
		</li>
		<li class="active">视频管理</li>
	</ol>

</div>
<div id="page-inner">
	<div class="row">
		<div class="col-md-12">
			<!-- Advanced Tables -->
			<div class="panel panel-default">
				<div class="panel-heading">
					<div class="row">
						<div class="col-lg-12">
							<a href="{:url('/admin/video/'.$period_id.'/edit','', false)}?course={$course_id}" class="btn btn-danger">修改视频</a>
							<a href="{:url('/admin/videosrt', '', false)}?period={$period_id}&course={$course_id}&video={$id}" class="btn btn-danger">编辑字幕</a>
						</div>
					</div>
					<!-- /input-group -->
				</div>
				<div class="panel-body">
					<div class="table-responsive">
					</div>
					<div class="row">
						<div class="col-lg-12">
							<div class="panel panel-default">
								<div class="panel-heading">
									<div class="card-title">
										<div class="title">视频封面</div>
									</div>
								</div>
								<div class="panel-body">
									<div class="form-horizontal" style="margin-bottom: 200px;">
										<div class="col-sm-10">
											<div>
												<div class="col-sm-4">
													<div id="img">
														<img class="img-responsive" width="200" src="{$video_src['local']['cover']}" />
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>

								<div class="panel-heading">
									<div class="card-title">
										<div class="title">本站视频</div>
									</div>
								</div>
								<div class="panel-body">
									<div class="form-horizontal" style="margin-bottom: 200px;">
										<div class="col-sm-10">
											<div>
												<div class="col-sm-4">
													<div id="mp4">
														<video src="{$video_src['local']['url']}" width="320" controls="controls"></video>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>

								<div class="panel-heading">
									<div class="card-title">
										<div class="title">Youtube 视频</div>
									</div>
								</div>
								<div class="panel-body">
									<div class="form-horizontal" style="margin-bottom: 200px;">
										<div class="col-sm-10">
											<div>
												<div class="col-sm-4">
													<div>
														<video src="{$video_src['youtube']['url']}" width="320" controls="controls"></video>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--End Advanced Tables -->
		</div>
	</div>
</div>

{/block} {block name="script"}
<script src="__STATIC__/js/bootstrap-datetimepicker.min.js"></script>
<script src="__STATIC__/js/bootstrap-datetimepicker.zh-CN.js"></script>
<script src="__STATIC__/Plupload/moxie.js"></script>
<script src="__STATIC__/Plupload/plupload.dev.js"></script>
<script src="__STATIC__/Plupload/i18n/zh_CN.js"></script>
<script src="__STATIC__/js/qiniu.min.js"></script>
<script>
</script>
{/block}