﻿{extend name="Base:common" /}{block name="css"}
<link href="__STATIC__/css/bootstrap-datetimepicker.min.css" rel="stylesheet" /> {/block}{block name="body"}
<div class="header">
	<h1 class="page-header">
		教材管理
    		<small>视频管理</small>
	</h1>
	<ol class="breadcrumb">
		<li>
			<a href="{:url('index/index')}">首页</a>
		</li>
		<li>
			<a href="{:url('course/index')}">教材管理</a>
		</li>
		<li>
			<a href="{:url('/admin/course/period/id/'.$course_id)}">课时管理</a>
		</li>
		<li>
			<a href="{:url('/admin/video', '', false)}?period={$period_id}&course={$course_id}">视频</a>
		</li>
		<li class="active">字幕</li>
	</ol>

</div>
<div id="page-inner">
	<div class="row">
		<div class="col-md-12">
			<!-- Advanced Tables -->
			<div class="panel panel-default">
				<div class="panel-heading">
					<div class="row">
						<div class="col-lg-12">
						</div>
					</div>
					<!-- /input-group -->
				</div>
				<div class="panel-body">
					<div class="table-responsive">
					</div>
					<div class="row">
						<div class="col-lg-12">
							<div class="panel panel-default">
								<div class="panel-heading">
                                    <a class="btn btn-success" href="{:url('/admin/videosrt/create', '', false)}?period={$period_id}&course={$course_id}&video={$video_id}">添加字幕</a>
								</div>
								<div class="panel-body">
									<div id="exercise_list" class="row">
										<div class="exercise_item col-lg-12">
											{volist name="list" id="vo"}
											<ul class="list-group">
												<li class="list-group-item"">序号: <b>{$vo.step}</b>, 时间轴: {$vo.begin} --> {$vo.end}, 语音识别题：{$vo.is_asr?'是':'否'}, 填空题：{$vo.is_fill?'是':'否'} </li>
												<li class="list-group-item">中文：{$vo.text_cn}</li>
												<li class="list-group-item">拼音：{$vo.text_py}</li>
												<li class="list-group-item">韩文：{$vo.text_ko}</li>
												<li class="list-group-item">英文：{$vo.text_en}</li>
												<li class="list-group-item">
													<div class="btn-group float-right" role="group" aria-label="Basic example">
														<a type="button" class="btn btn-warning" href="{:url('/admin/recognition/'.$vo.id.'/edit', '', false)}">修改</a>
														<button type="button" class="btn btn-danger del-exercise" data-href="{:url('/admin/recognition/'.$vo.id, '', false)}">删除</button>
													</div>
												</li>
											</ul>
											{/volist}
										</div>
									</div>
								</div>
								<div class="panel-footer">
									<a class="btn btn-success" href="">添加字幕</a>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>
			<!--End Advanced Tables -->
		</div>
	</div>
</div>

{/block} {block name="script"}
<script src="__STATIC__/js/bootstrap-datetimepicker.min.js"></script>
<script src="__STATIC__/js/bootstrap-datetimepicker.zh-CN.js"></script>
<script src="__STATIC__/Plupload/moxie.js"></script>
<script src="__STATIC__/Plupload/plupload.dev.js"></script>
<script src="__STATIC__/Plupload/i18n/zh_CN.js"></script>
<script src="__STATIC__/js/qiniu.min.js"></script>
<script>
</script>
{/block}